* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto-regular", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto-Bold", sans-serif;
}


.header-stripe {
    background-color: #000000; /* Background color for the stripe */
    padding: 40px; /* Add padding to create space inside the stripe */
}

.site-name {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Adjust font size as needed */
    font-family: "Roboto-medium-italic";
    color: white;
}

.wrapper {
    background-color: #a3a4b7;
}

.content {
    background-color: #061653; /* Background color for the content box */
    padding: 20px; /* Add padding to create space inside the content box */
    border-radius: 8px; /* Add border radius for rounded corners */
    margin: 20px auto; /* Center the content box horizontally */
    max-width: 1200px; /* Set a maximum width for the content box */
    margin-top: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    width: calc(20% - 20px); /* Set width to 20% with spacing between elements */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    background-color: #060a5def; /* Background color for the card */
    border-radius: 8px; /* Add border radius for rounded corners */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text content */
    align-items: center;
    height: 340px;
}

.title img {
    width: 150px; /* Set the width to desired size */
    height: 250px; /* Set the height to desired size */
    display: block; /* Ensure proper alignment */
    max-width: 100%; /* Ensure images don't exceed their container width */
    margin-bottom: 10px; /* Add space between the image and text */
    align-self: center;
    padding-bottom: 20px;
}

.title h2 {
    margin-top: 0; /* Reset margin */
    margin-bottom: 10px; /* Adjust margin as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
}

.comment {
    margin: 20px 0px 20px 20px;
}

