* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto-regular", sans-serif;
    height: 100vh;
    background-color: #000 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto-Bold", sans-serif;
}

.header-stripe {
    display: flex;
    align-items: center; /* Vertically center align items */
    justify-content: space-between; /* Distribute items evenly */
    background-color: #000000;
    padding: 20px;
    border-bottom: 1px solid #fff;
}

.action-link {
    color: white; /* Change button text color to white */
    text-decoration: none; /* Remove default underline */
    margin-left: 20px; /* Adjust specing between buttons */
}

.header-stripe a {
    text-decoration: none; /* Initially, no underline */
    text-decoration-color: white; /* Set the color of the underline */
    transition: text-decoration 0.3s ease; /* Smooth transition over 0.3 seconds */
    color: white;
    text-underline-offset: 0.2em; /* Offset the underline by 0.2em */
}

.site-name.action-link {
    text-decoration: none;
}

.header-stripe a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 1.5px;
}

.header-stripe a:hover {
    color: white;
}

.site-name {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Adjust font size as needed */
    font-family: "Roboto-medium-italic";
    color: white;
}

.actions {
    display: flex;
    align-items: center;
}

.main-container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items along the cross axis (vertically) */
    justify-content: center; /* Center items along the main axis (horizontally) */
    text-align: center; /* Align text in the center */
    width: 25%; /* Set the width of each title element */
    flex-basis: 25%; /* Basis for distributing space along the main axis */
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.title img {
    width: 180px; /* Set the width of the image to 100% */
    height: 250px; /* Set the height of the image to 100% */
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

.title h4 {
    padding: 20px 0;
    max-width: 180px;
    overflow: hidden; /* Ensure overflow content is hidden */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
    color: white;
    transition: ease;
}

.title h4 a {
    text-decoration: none; /* Initially, no underline */
    text-decoration-color: white; /* Set the color of the underline */
    transition: text-decoration 0.3s ease; /* Smooth transition over 0.3 seconds */
    color: white;
    text-underline-offset: 0.2em; /* Offset the underline by 0.2em */
}

.title h4 a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 1.1px;
}

.pfp img {
    width: 300px;
    height: 360px;
    object-fit: cover;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.profile-picture-preview {
    border-radius: 30px; /* Border radius for a circular shape */
    border: 2.5px solid white; /* Border with white color and 2px width */
    width: 65px; /* Adjust the width and height as needed */
    height: 65px;
    object-fit: cover;
    transition: border-color 0.3s ease; 
}

.btn.save {
    color: #ffffff !important; /* Set the text color to white */
    border: 2px solid transparent; /* Set initial border to transparent */
    transition: border-color 0.3s; /* Add transition effect for border color change */
    margin-top: 10px;
}

.profile-picture-preview:hover {
    border-color: rgb(2, 176, 170); /* Change border color on hover */
}

.btn.save:hover {
    border-color: #ffffff; /* Change border color on hover */
}

.save {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save:hover {
    /* Add styles for hover effect */
    background-color: #ffffff; /* Change the background color on hover */
}

.btn {
    color: white;
}

.btn-default {
    background-color: #007bff; /* Change the background color */
    color: #fff; /* Change the text color */
    border: 2px solid #fff; /* Add a white border */
}

.btn-default:hover {
    background-color: #0056b3; /* Darken the background color on hover */
}

.anime-detail-image, .profile-picture{
    max-width: 500px;
    width: 500px;
    height: 700px;
    object-fit: cover;
    margin: 20px auto;
}


.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.login {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
